<footer
  class="bg-[#1F2937] text-white font-mono p-2 border-t-4 border-gray-700 text-sm"
>
  <div class="flex flex-col items-center p-2">
    <div class="sm:flex justify-center text-justify opacity-80">
      "Hi portfolio designed and developed by Ashutosh Singh."
    </div>
    <div class="opacity-80">
      <i class="fa-solid fa-envelope mr-2"></i> ashutosh63872&commat;gmail.com
    </div>
    <hr />
    <div class="opacity-80">| Kanpur Uttar Pradesh 209871 |</div>
    <hr />
    <div class="sm:flex sm:justify-center opacity-80">| What I use |</div>
    <div class="opacity-80">| HTML/ Tailwind CSS/ Angular |</div>
  </div>
</footer>
