*{
    box-sizing: border-box;
}
body {
  background-color: #f2f9ed;
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: 64px;
  color: #48a300;
  text-align: center;
}

.heading span {
  color: #61481c;
}

.container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 42px;
}
.sun {
  vertical-align: middle;
  margin-left: 16px;
}
.progress-lable {
  color: #858585;
}
.progress-bar {
  height: 30px;
  background-color: #e9f2e2;
  border-radius: 15px;
  margin: 15px 0;
  /* padding-left: 20px; */
  
}
.progress-value {
  height: 100%;
  width: 0%;
  background-color: #48a300;
  border-radius: 15px;
  font-weight: 500px;
  font-size: 14px;
  color: #eeffe0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;
}
.error {
  font-size: 14px;
  color: #ff5151;
  display: none;
}
.goal-container {
  display: flex;
  border: 2px solid #e5e5e5;
  padding: 24px 0px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 46px;
}
.goal-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #d0b8bb;
  margin-left: 10px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tick{
   display: none;
}
.completed .goal-circle {
  background-color: green;
  border: 2px solid green;
}
.completed .tick {
display: block;
}

.completed  input{
    color: green;
    text-decoration: line-through;
}



.goal-container input {
  border: none;
  outline: none;
  margin-left: 14px;
  font-family: inherit;
  font-size: 16px;
  flex-grow: 1;
  /* color: #48a300; */
  /* align-self: stretch; */

  /* background-color: pink; */
}
.goal-container input::placeholder {
  color: #d9d9d9;
}
.slogan {
  font-weight: 500;
  text-align: center;
}
.author {
  color: #858585;
  text-align: center;
  font-size: 10px;
  margin-top: 32px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .heading {
    font-size: 32px;
  }
  .container {
    padding: 16px 24px;
  }
}
