html {
  --background-color: rgb(45, 97, 45);
  --font-color: #fffbfb;
}

* {
  box-sizing: border-box;
}

.nav {
  box-shadow: 0px 1px 2px 0px rgb(101, 100, 102);
  padding: 5px 10px;
}

body.dark {
  background-color: var(--background-color);
  color: var(--font-color);
}
a {
  background: liner-gradient(to right red, black);

  font-weight: bold;

  font-family: monospace;
  color: white;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button {
  background: linear-gradient(to right, rgb(210, 36, 245), rgb(47, 253, 209));
  padding: 5px 10px;
  color: var(--font-color);
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background: linear-gradient(to right, rgb(47, 253, 209), rgb(210, 36, 245));
}
a:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 1px 1px rgb(43, 42, 43);
  /* opacity: 0.4;
  cursor: not-allowed; */
}
a:active {
  background-color: transparent;
}
.container {
  border: 1px solid var(--font-color);
  padding: 5px 10px;
}
