<div class="bg-[#1F2937] text-white h-screen">
  Ecommerce Website + Twitter Frontent clone update soon!!
  <div class="flex flex-col sm:flex-row items-center p-4">
    <div
      class="overflow-hidden max-w-[14rem] border-2 border-purple-800 hover:border-white transition ease-in rounded-lg"
    >
      <a href="https://ecom245.netlify.app/" target="_blank">
        <img
          class="object-contain"
          src="https://cdn.dummyjson.com/product-images/1/thumbnail.jpg"
        />

        <div class="text-center font-bold text-lg drop-shadow-xl">Fake Store</div>
        <p class="px-2 py-1 text-sm">
          Fake store where admin and add and edit the Products  and user
          can do all stuff.
        </p>
      </a>
    </div>
  </div>
</div>
