<div class="main bg-[#282F3C] h-screen text-white font-mono">
  <div class="flex flex-col items-centers items-center text-lg">
    <div>
      <i class="fa-solid fa-envelope mr-2"></i> ashutosh63872&commat;gmail.com
    </div>
    <div class="mt-2">
      <a
        class="border-2 px-2 py-1 bg-green-700 rounded-md hover:shadow-md hover:shadow-white"
        href="tel:+916387217378"
        ><i class="fa-solid fa-phone mr-2"></i>Call me</a
      >
    </div>
  </div>
  <div
    class="flex flex-col border-2 p-4 m-4 rounded-md shadow-purple-700 shadow-md hover:shadow-white"
  >
    <div class="flex flex-col gap-y-2">
      <label class="font-semibold" for="">Name</label>
      <input
        class="p-2 bg-[#282F3C] border-2 rounded-lg"
        type="text"
        placeholder="Name"
        [(ngModel)]="name"
      />
      <label class="font-semibold" for="">Contact Number</label>
      <input
        class="p-2 bg-[#282F3C] border-2 rounded-lg"
        type="text"
        placeholder="Contact Number"
        [(ngModel)]="phone"
      />
      <button
        class="mt-2 text-xl border-2 rounded-lg hover:bg-purple-800"
        (click)="submit()"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</div>
