<div class="main">
  <div>
   
      <img id="logo" src="../../assets/images/Screenshot 2024-02-26 131445.png"
    />
  </div>

  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li>
      <a href="../../assets/resume/ashutoshpython.pdf" download=""> Resume</a>
    </li>
  </ul>

  <ul style="padding-right: 2%">
    <li>
      <a href="https://www.linkedin.com/in/itsashusing/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/itsashusing" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </li>
  </ul>
</div>
