.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5%;
  background-color: #ffffff;
  color: white;
  align-items: center;
  font-weight: lighter;
  font-size: large;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#logo {
  mix-blend-mode: normal;
  height: 50px;
  border-radius: 50%;
}

#middle a:hover {
  color: #fa8072;
  border: 1px solid rgb(221, 167, 167);
  padding: 0px 5px;
  border-radius: 10px;
}

.back {
  background-color: #1f2937;
}
