<nav
  class="flex justify-around items-center md:justify-between bg-[#1F2937] h-20 font-mono md:text-xl text-white font-semibold border-b-4 border-gray-700"
>
  <div>
    <img
      class="rounded-full w-12 m-1 border-2 hover:border-purple-800 transition ease-in"
      src="../../assets/images/Screenshot 2024-02-26 131445.png"
    />
  </div>
  <div class="mr-5">
    <ul class="flex gap-3">
      <li class="transition ease-in text-opacity-10 hover:-translate-y-1">
        <a
          class="hover:border-b-2 border-purple-800 transition ease-in"
          routerLink="/"
          >Home</a
        >
      </li>
      <li class="transition ease-in text-opacity-10 hover:-translate-y-1">
        <a
          class="hover:border-b-2 border-purple-800 transition ease-in"
          routerLink="/projects"
          >Projects</a
        >
      </li>
      <li class="transition ease-in text-opacity-10 hover:-translate-y-1">
        <a
          class="hover:border-b-2 border-purple-800 transition ease-in"
          routerLink="/about"
          >About</a
        >
      </li>
      <li class="transition ease-in text-opacity-10 hover:-translate-y-1">
        <a
          class="hover:border-b-2 border-purple-800 transition ease-in"
          routerLink="/contact"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
