<div class="flex flex-col bg-[#111827] text-white opacity-90 font-serif">
  <div class="flex justify-center">
    <div class="w-[65%] flex flex-col items-center gap-y-2">
      <div>
        <div class="text-sm md:text-xl text-purple-400 mt-2">Hi, I am</div>
      </div>
      <div class="text-2xl md:text-5xl font-semibold">Ashutosh Singh</div>
      <div
        class="underline text-xl md:text-3xl opacity-90 animate-bounce w-fit h-6"
      >
        Full Stack Developer
      </div>
      <div class="opacity-80 md:text-2xl mt-2 text-center text-purple-400">
        "Web developer passionate about creating captivating online experiences.
        Combining design and code to bring visions to life. Let's build
        something amazing together."
      </div>
      <div class="mt-2">
        <a href="https://www.linkedin.com/in/itsashusing/" target="_blank"
          ><i class="md:text-3xl fa-brands fa-linkedin-in"></i
        ></a>
        <a href="https://github.com/itsashusing" target="_blank"
          ><i class="md:text-3xl fa-brands fa-github ml-2"></i
        ></a>
      </div>
      <div>
        <a
          href="../../assets/resume/Resume.pdf"
          download="ashutoshsingh"
          class=" md:text-2xl border-2 border-purple-800 rounded-lg py-1 px-2 hover:bg-purple-900 transition ease-in hover:border-white"
        >
          Resume<i class=" fa-solid fa-arrow-down ml-1"></i>
        </a>
      </div>
      <!-- ---------- Tech Stack --------------------- -->
    </div>
  </div>
  <div class="grid grid-cols-3 items-center mt-4">
    <hr class="w-full" />
    <div class="text-2xl md:text-4xl flex justify-center">Tech Stack</div>
    <hr class="w-full" />
  </div>
  <div class="mx-7">
    <div class="flex flex-wrap justify-center">
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 hover:border-white rounded-lg p-2 m-1 transition ease-in"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/python-horizontal.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/djangoproject-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain invert"
          src="../../assets/images/rest-api-icon.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/mysql-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain "
          src="../../assets/images/mongodb-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/w3_html5-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/w3_css-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/tailwind-css.512x64.png"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain "
          src="../../assets/images/javascript-39404.png"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain "
          src="../../assets/images/typescript_original_logo_icon_146317.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain "
          src="../../assets/images/angular-ar21.svg"
          alt=""
        />
      </div>
      <div
        class="border-2 border-purple-800 hover:bg-purple-900 transition ease-in-out hover:border-white rounded-lg p-2 m-1"
      >
        <img
          class="w-28 aspect-square object-contain"
          src="../../assets/images/git-scm-ar21.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
