<div class="main">
  <div class="content">
    <div class="codingtext" style="width: 200px">
      <h1>&lt;Backend&gt;</h1>
      <ul>
        <li style="font-size: 18px; font-weight: bold">Python</li>
        <li style="font-size: 18px; font-weight: bold">Django</li>
        <li style="font-size: 18px; font-weight: bold">Django REST framework</li>
        <li style="font-size: 18px; font-weight: bold">MySQL</li>
        <li style="font-size: 18px; font-weight: bold">MongoDB</li>
      </ul>
    </div>
    <div class="frame">
      <script
        src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
        type="module"
      ></script>
      <iframe
        src="https://lottie.host/embed/7b2bc7ca-405e-4ce0-87a3-9ceb86a5241d/J1Y74mLa2K.json"
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        loop
        autoplay
      ></iframe>
    </div>
    <div class="codingtext" style="width: 200px">
      <h1>&lt;Frontend/&gt;</h1>
      <ul>
        <li><i style="font-size: 30px" class="fa-brands fa-html5"></i></li>
        <li><i style="font-size: 30px" class="fa-brands fa-css3"></i></li>
        <li><i style="font-size: 30px" class="fa-brands fa-js"></i></li>
        <li><i style="font-size: 30px" class="fa-brands fa-angular"></i></li>
      </ul>
    </div>
  </div>
</div>
<hr />
<h1 style="text-align: center">Recent projects</h1>
<hr />
<div class="bottom">
  <div class="projects">
    <div class="paragraph">
      <img src="../../assets/images/div2.jpg" width="300px" />
      <h4 style="text-align: center">
        <a href="https://github.com/itsashusing/Django-Projects" target="_blank"
          >BOT SCRAPER</a
        >
      </h4>
      <p style="margin: 0">
        <strong>Technologies: </strong>Python,Selenium,Pandas
      </p>
      <hr style="margin: 0% !important" />
      <div style="text-align: justify" class="para">
        Scrap business today website. Extract raw data like image, price,stock
        name and clean data and convert it into a dataframe using pandas and
        list the data in our website and also convert it as a csv document
      </div>
    </div>
    <div class="paragraph">
      <img src="../../assets/images/div2.jpg" width="300px" />
      <h4 style="text-align: center">
        <a href="https://itsashusing.pythonanywhere.com/" target="_blank"
          >BLOG APPLICATION</a
        >
      </h4>
      <p style="margin: 0">
        <strong>Technologies: </strong>Python,Django,HTML, CSS,JS, Bootstrap
      </p>
      <hr style="margin: 0% !important" />
      <div style="text-align: justify" class="para">
        Focusing on the development of CRUD operations for seamless content
        management. Implemented user authentication for enhanced security.
        Implemented a robust user authentication system.
      </div>
    </div>
  </div>
</div>
