<div class="main">
  <div class="content">
    <div class="codingtext" style="width: 400px">
      <h1>&lt;Backend&gt;</h1>

      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>Rest-Framework</li>
        <li>MySql</li>
        <li>Mongo-DB</li>
      </ul>
    </div>

    <div class="codingtext" style="width: 400px">
      <h1>&lt;Frontent&gt;</h1>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Angular</li>
      </ul>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="projects">
    <div class="paragraph">
      <img src="../../assets/images/div2.jpg" width="300px" />
      <h4>
        <a href="https://github.com/itsashusing/Django-Projects" target="_blank"
          >BOT SCRAPER</a
        >
      </h4>
      <p style="margin: 0">
        <strong>Technologies: </strong>Python,Selenium,Pandas
      </p>
      <hr style="margin: 0% !important" />
      <div style="text-align: justify" class="para">
        Scrap business today website. Extract raw data like image, price,stock
        name and clean data and convert it into a dataframe using pandas and
        list the data in our website and also convert it as a csv document
      </div>
    </div>
    <div class="paragraph">
      <img src="../../assets/images/div2.jpg" width="300px" />
      <h4>
        <a href="https://itsashusing.pythonanywhere.com/" target="_blank"
          >BLOG APPLICATION</a
        >
      </h4>
      <p style="margin: 0">
        <strong>Technologies: </strong>Python,Django,HTML, CSS,JS, Bootstrap
      </p>
      <hr style="margin: 0% !important" />
      <div style="text-align: justify" class="para">
        Focusing on the development of CRUD operations for seamless content
        management. Implemented user authentication for enhanced security.
        Implemented a robust user authentication system.
      </div>
    </div>
  </div>
</div>
